
#nav-blurr{
    position: fixed;
    top:-7px;
    right:0px;
    height: $navBarSize+5; 
    width: 100%; 
    z-index: 2;
    overflow: hidden;
    filter: blur(7px);
    background-color: rgba($navBarColor,1);
}

.nav-wrapper-vertical{
    @extend #nav-blurr;
    height: $navBarSize; 
    top:0px;
    z-index: 5;
    background-color: rgba($navBarColor,0.85);
    filter: none;
    .nav-content-wide-screen{ //ul
        display:block;
        height: 100%; 
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin:0px 8rem;
        li{
            display: inline;
            margin: 0;
            padding:0;
            a{
                i{
                    
                    font-size: 19px;
                }
                color:$navTextColor;
                text-decoration: none;
                font-size: $navTextSize;
                font-family: $fontFamily;
                padding:auto 10px;
            }
            a:hover{
                color:white;
                text-decoration: none;
                cursor:pointer;
            }
        }
    }
    .nav-content-small-screen{
        display:none;
    }
}
.nav-area{
    background-color: white;
    height: $navBarSize; 
}

#hambar{
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top:0px;
    background-color: black;
    .nav-content-small-screen{
        height: $navBarSize; 
        top:0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 19px;
    }
}

.hidden-elements{
    p{
        text-align: center;
        font-size: 16px;
        color: grey;
        margin: 2rem;
    }
    ul{
        list-style: none;
        margin: 0px 25px ;
        li{
            display: flex;
            flex-direction: row;
            padding: 10px 0px;
            margin: 0px;
            border-top: 1px solid grey;
            a{
                text-decoration: none;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 1250px){
    .nav-wrapper-vertical{
        .nav-content-wide-screen{
            margin:0px 1rem;
        }
    }
}
@media screen and (max-width: 745px) {
    .nav-wrapper-vertical{
        height: $navBarSize+4; 
        .nav-content-wide-screen{
            display:none;
        }
        .nav-content-small-screen{ //ul
            display:block;
            height: 100%; 
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin:0px 10px;
            li{
                display: inline;
                margin: 0;
                padding:0;
                a{
                    i{
                        
                        font-size: 20px;
                    }
                    color:$navTextColor;
                    text-decoration: none;
                    font-size: $navTextSize;
                    font-family: $fontFamily;
                    padding:auto 10px;
                }
                a:hover{
                    color:white;
                    text-decoration: none;
                    cursor:pointer;
                }
            }
        }
    }
    .nav-area{
        height: $navBarSize+4; 
    }
}
