//font style
$fontFamily: 'Montserrat', sans-serif;
$secondFontFamily: Helvetica;

//NavBar style
$navBarColor: black;
$navBarSize:44px;
$navTextColor:rgb(230, 230, 230);
$navTextSize:12px;

// Top section
$warningAreaColor:rgb(17, 112, 201);;
$attentionAreaColor:rgb(252, 252, 252);;



@import "./base";
@import "./navbar";
@import "./helper";
@import "./top";
@import "./sectionImgs";
@import "./footer";
